.ml-15
{
    margin-left : 150px;
}

.mr-15
{
    margin-right: 150px;
}

.nav-brand-bg
{
    height : 100px;
    width : 100px;
    background-color: aqua;
}

.bg-teal
{
    background-color: aqua;
}