body
{
    background-color: #F0F0F0;
}

.ml-15
{
    margin-left : 150px;
}

.mr-15
{
    margin-right: 150px;
}

.bg-teal
{
    background-color: #4aaaa5;
}

#about-desert_img
{
    height : 250px;
    width : 250px;
}

.gallery-name
{
    opacity: 0.7;
}